<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>FCCApiProject1</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        FCC Timestamp Microservice Project
      </h1>
    </header>
    <main>
      <p>by Franklin Griffin</p>
      <br>
      <h3>Example Usage:</h3>
      <h4>https://griffinf3api1.glitch.me/August 3, 2017</h4>
      <h4>https://griffinf3api1.glitch.me/1501718400</h4>
      <br>
      <h3>Expected Output is JASON:</h3>
      <h4>{"unix":1501718400,"natural":"August 3, 2017"}</h4>
    </main>
    <footer>
      <a href="https://glitch.com">
      </a>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  </body>
</html>
